:root {
    --bg-color: #171614;
    --app-color: #eeeeee;
    --text-color: #2b2b2b;
    --filter-text-color: #2b2b2b;
    --secondary-text: #030303;
    --info-color: #d0d3d4;
    --border-color: #e5e5e5;
    --highlight-color: rgb(242 242 242);
    --dim-color: #030303;
    --icon-color: #606060;
    --home-color: #ff0000;
    --filter-color: #f2f2f2;
    --filter-border: #d9d9d9;
    --logo: url("./images/logo-light.png") no-repeat;
    --padding: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: "Helvetica";
    transition: all linear 750ms;
}

.icons {
    color: var(--icon-color);
    cursor: pointer;
}